<aside id="sidebar" class="column">
<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">新闻管理</div>
  <!-- List group -->
  <ul class="list-group">
    <li class="list-group-item"> <a href="admin.php?controller=admin&method=newsadd"><i class="glyphicon glyphicon-plus"></i> 添加新闻</a></li>
    <li class="list-group-item"><a href="admin.php?controller=admin&method=newslist"><i class="glyphicon glyphicon-th-list"></i> 管理新闻</a></li>
  </ul>
</div>
<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">微博资源管理</div>
  <!-- List group -->
  <ul class="list-group">
    <li class="list-group-item"> <a href="admin.php?controller=weibo&method=add"><i class="glyphicon glyphicon-plus"></i> 添加微博</a></li>
    <li class="list-group-item"><a href="admin.php?controller=weibo&method=weiboList"><i class="glyphicon glyphicon-th-list"></i> 管理微博</a></li>
    <li class="list-group-item"> <a href="admin.php?controller=weibo&method=weiboRecList"><i class="glyphicon glyphicon-gift"></i> 回收站</a></li>
  </ul>
</div>
<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">系统操作</div>
  <!-- List group -->
  <ul class="list-group">
    <li class="list-group-item"> <a href="admin.php?controller=sys&method=category"><i class="glyphicon glyphicon-tasks"></i> 类别列表</a></li>
    <li class="list-group-item"><a href="admin.php?controller=weibo&method=weiboList"><i class="glyphicon glyphicon-th-list"></i> 分类列表</a></li>
    <li class="list-group-item"> <a href="admin.php?controller=weibo&method=weiboRecList"><i class="glyphicon glyphicon-globe"></i> 地区</a></li>
  </ul>
</div>
</aside><!-- end of sidebar -->
