{include file='admin/header.html'}
{include file='admin/bread.html'}
{include file='admin/leftmenu.html'}

<div id="main" class="column">
	<form method="post" action="admin.php?controller=admin&method=newsadd" class="form-horizontal" role="form">
			<div class="page-header">
			  <h3>发表新闻<small> Release news</small></h3>
			</div>
				<div class="module_content">
						<fieldset>
							<label>标题</label>
							<input type="text" name="title" class="form-control" value="{$data.title|default:''}">
						</fieldset>
						<fieldset>
							<label>内容</label>
							<!--style给定宽度可以影响编辑器的最终宽度-->
							<!-- <textarea rows="12" class="form-control"> -->
							<script type="text/plain" id="myEditor" name="content" style="width:100%;height:300px;">
							    <p>{$data.content|default:''}</p>
							</script>
							<!-- </textarea> -->
						</fieldset>
						<div class="container-fluid two-inline">
							<div class="row">
							    <div class="col-md-6">
							    	<div class="form-group">
									    <label for="author" class="col-sm-2 control-label">作者</label>
									    <div class="col-sm-10">
									      <input type="text" name="author" class="form-control" value="{$data.author|default:''}">
									    </div>
									  </div>
							    </div>
									<div class="col-md-6">
										<div class="form-group">
									    <label for="from" class="col-sm-2 control-label">出处</label>
									    <div class="col-sm-10">
									      <input type="text" name="from" class="form-control" value="{$data.from|default:''}">
									    </div>
									</div>
									</div>
							</div>
						</div>
						
						
				</div>
			<footer>
				<div class="submit_link">
					<input type="hidden" name="id" value="{$data.id|default:''}">
					<input type="submit" name="submit" value="发布" class="btn btn-primary btn-lg btn-block">
				</div>
			</footer>
	</form>
	<div class="spacer"></div>
</div>
<link href="tpl/admin/umeditor/themes/default/css/umeditor.css" type="text/css" rel="stylesheet">
<script type="text/javascript" src="tpl/admin/umeditor/third-party/jquery.min.js"></script>
<script type="text/javascript" charset="utf-8" src="tpl/admin/umeditor/umeditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="tpl/admin/umeditor/umeditor.min.js"></script>
<script type="text/javascript" src="tpl/admin/umeditor/lang/zh-cn/zh-cn.js"></script>
<script type="text/javascript">
    var um = UM.getEditor('myEditor');
</script>
{include file='admin/footer.html'}