{include file='admin/header.html'}
{include file='admin/bread.html'}
{include file='admin/leftmenu.html'}
<div id="main" class="column">		
	<div class="page-header">
	  <h3>微博回收站资源列表<small> The recycle bin of weibo</small></h3>
	</div>
	<div class="tab_container">
		<div class="table-responsive">
			<table class="table table-hover" cellspacing="0" style="margin:0"> 
				<thead> 
					<tr>  
	    				<th><input type="checkbox"></th>
						<th>序号</th>
						<th>昵称</th>
						<th>分类</th>
						<th>粉丝(W)</th>
						<th>直发成本</th>
						<th>转发成本</th>
						<th>状态</th>
						<th>地区</th>
						<th>等级</th>
						<th>拥有者</th>
						<th>资源添加时间</th>
						<th>操作</th>
					</tr> 
				</thead>
				<tbody>
				{if $data}
				{foreach $data as $value}
					<tr>
						<td><input type="checkbox"></td>
	    				<td>{$value.w_id}</td> 
	    				<td><a href="{$value.owner_url}" target="_blank">{$value.nick}</a></td> 
	    				<td>{$value.sort}</td>
	    				<td>{$value.fans}</td>  
	    				<td>{$value.zhi_ben}</td>
	    				<td>{$value.zhuan_ben}</td> 
	    				<td>{$value.state}</td> 
	    				<td>{$value.area}</td> 
	    				<td>{$value.classU}</td> 
	    				<td>{$value.owner}</td>   
	    				<td>{date('Y-m-d',$value.dateline)}</td> 
	    				<td>
	    				<input type="image" src="img/images/icn_jump_back.png" title="恢复" onclick="window.location.href='../../../admin.php'">
	    				&nbsp;
	    				<input type="image" src="img/images/icn_trash.png" title="删除" onclick="window.location.href='../../../admin.php'">
	    				</td>
					</tr>
				{/foreach}
				{else}

					<tr>
						<td  colspan=13>
							暂无资源
						</td>
					</tr>
				{/if}

				</tbody>
			</table>
		</div><!-- end of #tab1 -->
		
		<div id="tab2" class="tab_content">

		</div><!-- end of #tab2 -->
		
	</div><!-- end of .tab_container -->
	<div class="spacer"></div>
</div>


{include file='admin/footer.html'}